<!-- <header class="intro-section" style="background-image: url('../assets/img/tortuga.jpg'); margin-bottom:20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    
                </div>
            </div>
        </div>
</header> -->


<div class="container" style="margin-top: 20px; margin-bottom:100px;">
	<div class="row centered">
		<div class="col-lg-12">
			<h2 style="margin-top:40px;">¿No recuerdas tu contraseña?</h2>
			<hr>
			<p> {{texto1}} </p>
		</div>
	</div>
		<div class="row centered" style="margin-top:20px;" ng-show="mostrarform">
			<div class="col-lg-6" style="float: none; margin: 0 auto;">
		      		<div class="input-group">
			      		<input class="form-control" placeholder="Ingresa aqui tu mail" ng-model="mail">
			      		<span class="input-group-btn"><btn class="btn btn-primary" ng-click="recuperar()">Recuperar</btn></span>
		    		</div>
		    </div>
	  	</div>
	</div>
</div>