<nav class="navbar navbar-default" role="navigation" ng-controller="LoginController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="" href="#home">
                    <img src="../assets/img/RI_azul.png" style="margin-top:5px;" width=80 alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse pull-right">
                
                <ul class="nav navbar-nav" ng-show="isAuthenticated">
                     <li><a href="#/link">link privado</a></li>
                     
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Welcome, {{ username }} 
                        <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href=""><i class="icon-cog"></i> Link 1</a></li>
                            <li><a href=""><i class="icon-envelope"></i> Link 2</a></li>
                            <li class="divider"></li>
                            <li><a href=""><i class="icon-off"></i>Cerrar Sesión</a></li>
                        </ul>
                      </li>

                    <!-- <a href="" class="btn btn-primary">Crea tu historia</a> -->
                    <li>
                        <div>
                            <a href="#/crear">
                                <button  type="button" class="btn btn-success btn-sm navbar-btn">
                                    Crea una historia
                                </button>
                            </a>
                        </div>
                    </li>
                </ul>


                <ul class="nav navbar-nav" ng-hide="isAuthenticated">
                     
                     <!-- <li><a href="#/home">Home</a></li>
                      <li><a href="#/about">About</a></li>
                      <li><a href="#/listado">Listado</a></li>
                      <li><a href="#/crear">Nuevo post</a></li>
                      <li><a href="#/post">Detalle post</a></li> -->
                        
                        <li><a href="" data-toggle="modal" data-target="#myModal2">Registrarte</a></li>
                        <li><a href="" data-toggle="modal" data-target="#myModal">Iniciar Sesión</a></li>
                        


                    <!-- <a href="" class="btn btn-primary">Crea tu historia</a> -->
                    <li>
                        <div>
                            <a href="#/crear">
                                <button  type="button" class="btn btn-success btn-sm navbar-btn">
                                    Crea una historia
                                </button>
                            </a>
                        </div>
                    </li>
                </ul>
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      
      <div class="modal-body">
        
        <h4>
            ¡Ingresar en Ciudad Invisible!    
        </h4>
        <br>
        <a class="btn btn-block btn-social btn-facebook" ng-click="login()">
            <i class="fa fa-facebook"></i> Inicia sesión con Facebook
        </a>
        <a class="btn btn-block btn-social btn-twitter">
            <i class="fa fa-twitter"></i> Inicia sesión con Twitter
        </a>


        <hr>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-12">
              <input type="email" class="form-control" id="" placeholder="Email" ng-model="login_email" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <input type="password" class="form-control" id="" placeholder="Password" ng-model="login_password" required>
              <!-- <br> -->
              <input type="checkbox"> Recordarme
              <button type="submit" class="btn btn-block btn-warning" ng-click="doLoginCommon()" >Iniciar sesión</button>
            </div>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      
      <div class="modal-body">
        
        <h4>
            ¡Registrate en Ciudad Invisible!    
        </h4>
        <br>
        <a class="btn btn-block btn-social btn-facebook" ng-click="login()">
            <i class="fa fa-facebook"></i> Registrate con Facebook
        </a>
        <a class="btn btn-block btn-social btn-twitter">
            <i class="fa fa-twitter"></i> Registrate con Twitter
        </a>


        <hr>
        <p>
          Puedes registrate también utilizando tu correo electronico.
        </p>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-12">
              <input type="text" class="form-control" id="" placeholder="Nombre">
            </div>
            <br><br>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="" placeholder="Apellido">
            </div>
            <br><br>
            <div class="col-sm-12">
              <input type="email" class="form-control" id="" placeholder="Email">
            </div>
            <br><br>
            <div class="col-sm-12">
               <input type="password" class="form-control" id="" placeholder="Contraseña">
            </div>
            <br><br>
            <div class="col-sm-12">
               <input type="password" class="form-control" id="" placeholder="Repetir contraseña">
            </div>
            <br><br>
            <div class="col-sm-12">
              <input type="checkbox"> Quiero recibir novedades de Ciudad Invisible <br><br>
              <button type="submit" class="btn btn-block btn-warning">Registrate</button>
            </div>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>










    </nav>







