<!-- {{isAuthenticated}}
{{username}}
{{userid}}
{{userthumb}} -->

<nav class="navbar navbar-default" role="navigation" ng-controller="LoginController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="" href="#home" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Redirect to home by logo');">
                    <img src="../assets/img/ci_logo.png" style="margin-top:5px;" width=80 alt="">
                   <!-- <h3> Ciudad Invisible </h3> -->
                   

                </a>
            </div>
            

            <div class="col-sm-3 col-md-3" style="margin-top:3px">
                    <form class="navbar-form" role="search">
                    <div class="input-group" >
                        <input type="text" class="form-control input-sm" placeholder="Que estás buscando?" name="q" style="width:100%" ng-model="searchtext">
                        <div class="input-group-btn" >
                            <button class="btn btn-default btn-sm" ng-click="buscar()" ><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                    </form>
                </div>



            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse pull-right">
                
                <ul class="nav navbar-nav" ng-show="isAuthenticated">
                     <!-- <li><a href="#/listado">Explorar</a></li> -->

                    <li class="dropdown">
                        <a href="#/listado" class="dropdown-toggle" data-toggle="dropdown" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Explorar');">
                        Explorar
                        <!-- <b class="caret"></b> -->
                        </a>
                        <ul class="dropdown-menu" id="dropdown">
                            <li><a href="#/explorar/populares/" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Populares');">Populares</a></li>
                            <li><a href="#/explorar/seguidores/" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Seguidores');">Seguidores</a></li>
                            <li><a href="#/explorar/mapa/" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Mapa');">Mapa</a></li>
                            
                        </ul>
                      </li>

                     <li><a href="#/ayuda" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Ayuda');">Ayuda</a></li>
                     
                      <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'User dropdown menu');">
                        <img ng-src="{{ userthumb.replace('original','medium') }}"  alt="" width=30 class="img-circle img-responsive pull-left" style="margin-top: -5px; margin-right: 5px">
                        {{ username }}
                        <!-- <span class="badge">4</span> -->
                        <!-- <span class="glyphicon glyphicon-comment"></span> -->
                        <!-- <span class=" badge-notify">3</span> -->
                        <!-- src="http://mujer.starmedia.com/imagenes/2013/10/Tips-para-la-foto-de-perfil.jpg" -->
                        <!-- <b class="caret"></b> -->
                        </a>
                        <ul class="dropdown-menu" id="dropdown">
                            <li><a href="#/notificaciones" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Ver Notificaciones');"><i class="icon-cog"></i> Notificaciones  </li>
                            <li><a href="#/dashboard" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Ver Ajustes');"><i class="icon-cog"></i> Ajustes</a></li>
                            <li><a href="#/user/{{ userid }}" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Ver Perfil');"><i class="icon-envelope"></i> Perfil</a></li>
                            <li class="divider"></li>
                            <li><a href="" ng-click="doLogout()" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Cerrar Sesion');"><i class="icon-off"></i>Cerrar Sesión</a></li>
                        </ul>
                      </li>

                    <li>
                        <div>
                            <a href="#/crear">
                                <button  type="button" class="btn btn-success btn-sm navbar-btn" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Crear Post logueado');">
                                    Crea una historia
                                </button>
                            </a>
                        </div>
                    </li>
                </ul>

                
                 


                <ul class="nav navbar-nav" ng-hide="isAuthenticated">
                    
                        <li><a href="#/ayuda" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Ayuda');">Ayuda</a></li>
                        <li><a href="" data-toggle="modal" data-target="#myModal2" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Registrarse');">Registrarte</a></li>
                        <li><a href="" data-toggle="modal" data-target="#myModal" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Iniciar sesion');">Iniciar Sesión</a></li>
                        
                        
                    <!-- <li>
                        <div>
                            <a href="#/crear">
                                <button  type="button" class="btn btn-success btn-sm navbar-btn" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Crear Post sin logueo');">
                                    Crea una historia
                                </button>
                            </a>
                        </div>
                    </li> -->

                    
                </ul>
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      
      <div class="modal-body">
        
        <h4>
            ¡Ingresar en Ciudad Invisible!    
        </h4>
        <br>
        <a class="btn btn-block btn-social btn-facebook" ng-click="doLoginFacebook()" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Facebook Login');">
            <i class="fa fa-facebook"></i> Inicia sesión con Facebook
        </a>
        <a class="btn btn-block btn-social btn-twitter" ng-click="doLoginTwitter()" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Twitter Login');">
            <i class="fa fa-twitter"></i> Inicia sesión con Twitter
        </a>


        <hr>

        <form class="form-horizontal" name="loginform" ng-submit="doLoginCommon()">
          <div class="form-group" >
            <div class="col-sm-12">
              <input type="email" class="form-control" id="emaillogin" placeholder="Email" ng-model="login_email" >
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <input type="password" class="form-control" id="passwordlogin" placeholder="Password" ng-model="login_password" required>
              
              <!-- <br> -->
              <!-- <input type="checkbox"> Recordarme -->

              <br>
              <button type="submit" class="btn btn-block btn-warning" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Log In via email and password');">Iniciar sesión
              </button>

              <p style="margin-top:15px;">¿No tienes una cuenta aún? Registrate <a href="" ng-click="noaccount()">aquí</a></p>
              
              <p style="color:red; font-size:13px;" class="text-center">{{ errormsg }}</p>
              
            </div>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      
      <div class="modal-body">
        
        <h4>
            ¡Registrate en Ciudad Invisible!    
        </h4>
        <br>
        <a class="btn btn-block btn-social btn-facebook" ng-click="doLoginFacebook()" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Registro con Facebook');">
            <i class="fa fa-facebook"></i> Registrate con Facebook
        </a>
        <a class="btn btn-block btn-social btn-twitter" ng-click="doLoginTwitter()" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Registro con Twitter');">
            <i class="fa fa-twitter"></i> Registrate con Twitter
        </a>


        <hr>
        <p>
          Puedes registrate también utilizando tu correo electronico.
        </p>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-12">
              <input type="text" class="form-control" id="" placeholder="Nombre" ng-model="reg_first_name">
            </div>
            <br><br>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="" placeholder="Apellido" ng-model="reg_last_name">
            </div>
            <br><br>
            <div class="col-sm-12">
              <input type="email" class="form-control" id="" placeholder="Email" ng-model="reg_email">
            </div>
            <br><br>
            <div class="col-sm-12">
               <input type="password" class="form-control" id="" placeholder="Contraseña" ng-model="reg_password">
            </div>
            <br><br>
            <div class="col-sm-12">
               <input type="password" class="form-control" id="" placeholder="Repetir contraseña" ng-model="reg_repeat_password">
            </div>
            <br><br>
            <div class="col-sm-12">
              <input type="checkbox"> Quiero recibir novedades de Ciudad Invisible <br><br>
              <a class="btn btn-block btn-warning" ng-click="doRegisterCommon()" onClick="ga('send', 'event', 'Navbar Menu', 'click', 'Registro via formulario');">Registrate</a>
            </div>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>


    </nav>


<script type="text/javascript-lazy">
  $('.navbar .dropdown').hover(function() {
      $(this).find('.dropdown-menu').first().stop(true, true).slideDown(150);
    }, function() {
      $(this).find('.dropdown-menu').first().stop(true, true).slideUp(105)
    });

  $(".navbar-fixed-top").autoHidingNavbar();
</script>





