<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <a href="#/acerca">
        <img src="../assets/img/hero4.jpg" alt=""  height="300">
        <div class="carousel-caption">
          <h1 style="font-weight:600;">Bienvenido a Ciudad Invisible</h1>
          <h4>¡Conocé nuestro objetivo y cuales son los motivos por los que queremos que participes en este proyecto!  </h4>
        </div>
      </a>
    </div>
    <div class="item ">
      <img src="../assets/img/home1.jpg" alt="" height="300">
      <div class="carousel-caption">
        <h1 style="font-weight:600;">Graffiti alucinante</h1>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum laborum laudantium,</h4>
      </div>
    </div>
    <div class="item ">
      <img src="../assets/img/home2.jpg" alt="" height="300">
      <div class="carousel-caption">
        <h1 style="font-weight:600;">El mejor graffiti de la ciudad</h1>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum laborum laudantium, </h4>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="container home-posts">
  <br><br>

  <div class="row">
  	<div class="col-lg-12">
  		<div class="text-center hometitle">
  			<h2>Empieza tu aventura</h2>
  			<p class="lead">Descubre cuales son los destinos favoritos de nuestra comunidad para conocer tu ciudad.</p>
  		</div>
  	</div>
  </div>
  <div class="row">
  	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 post-image" style="background-image:url({{ posts[0].assets[0].file_url }}); height:400px;overflow:hidden; background-size: cover;">
      <a href="#/post/{{posts[0].id}}"></a>
      <div class="overlay"></div>
      <div class="info">
       <div class="row">
          <h3>{{ posts[0].title }}</h3>  
        </div>
       <div class="row">
         <img ng-src="{{posts[0].author_avatar}}" alt="">
       </div>
        <div class="row">
          <i class="fa fa-heart fa-1x"> {{ posts[0].favorites_quantity }} </i>
          <i class="fa fa-comments fa-1x"> {{ 2 }} </i>
        </div>
      </div>
  	</div>

  	<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 post-image" style="background-image:url({{ posts[1].assets[0].file_url }}); height:400px; overflow:hidden background-size: cover;;">
  	  <a href="#/post/{{posts[1].id}}"></a>
      <div class="overlay"></div>
      <div class="info">
        <div class="row">
          <h3>{{ posts[1].title }}</h3>  
        </div>
       <div class="row">
         <img ng-src="{{posts[1].author_avatar}}" alt="">
       </div>
        <div class="row">
          <i class="fa fa-heart fa-1x"> {{ posts[1].favorites_quantity }} </i>
          <i class="fa fa-comments fa-1x"> {{ 2 }} </i>
        </div>
       
      </div>
  	</div>
  </div>

  <div class="row">
  	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 post-image" style="background-image:url({{ posts[2].assets[0].file_url }}); height:400px;overflow:hidden; background-size: cover;">
  		<a href="#/post/{{posts[2].id}}"></a>
      <div class="overlay"></div>
      <div class="info">
       <div class="row">
          <h3>{{ posts[2].title }}</h3>  
        </div>
       <div class="row">
         <img ng-src="{{posts[2].author_avatar}}" alt="">
       </div>
        <div class="row">
          <i class="fa fa-heart fa-1x"> {{ posts[2].favorites_quantity }} </i>
          <i class="fa fa-comments fa-1x"> {{ 2 }} </i>
        </div>
      </div>
  	</div>
  	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 post-image" style="background-image:url({{ posts[3].assets[0].file_url }}); height:400px;overflow:hidden; background-size: cover;">
  		<a href="#/post/{{posts[3].id}}"></a>
      <div class="overlay"></div>
      <div class="info">
       <div class="row">
          <h3>{{ posts[3].title }}</h3>  
        </div>
       <div class="row">
         <img ng-src="{{posts[3].author_avatar}}" alt="">
       </div>
        <div class="row">
          <i class="fa fa-heart fa-1x"> {{ posts[3].favorites_quantity }} </i>
          <i class="fa fa-comments fa-1x"> {{ 2 }} </i>
        </div>
      </div>
  	</div>
  	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 post-image" style="background-image:url({{ posts[4].assets[0].file_url }}); height:400px;overflow:hidden; background-size: cover;">
  	  <a href="#/post/{{posts[4].id}}"></a>
      <div class="overlay"></div>
      <div class="info">
       <div class="row">
          <h3>{{ posts[4].title }}</h3>  
        </div>
       <div class="row">
         <img ng-src="{{posts[4].author_avatar}}" alt="">
       </div>
        <div class="row">
          <i class="fa fa-heart fa-1x"> {{ posts[4].favorites_quantity }} </i>
          <i class="fa fa-comments fa-1x"> {{ 2 }} </i>
        </div>
      </div>
  	</div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 post-image" style="background-image:url({{ posts[5].assets[0].file_url }}); height:400px;overflow:hidden; background-size: cover;">
      <a href="#/post/{{posts[5].id}}"></a>
      <div class="overlay"></div>
      <div class="info">
       <div class="row">
          <h3>{{ posts[5].title }}</h3>  
        </div>
       <div class="row">
         <img ng-src="{{posts[5].author_avatar}}" alt="">
       </div>
        <div class="row">
          <i class="fa fa-heart fa-1x"> {{ posts[5].favorites_quantity }} </i>
          <i class="fa fa-comments fa-1x"> {{ 2 }} </i>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 post-image" style="background-image:url({{ posts[6].assets[0].file_url }}); height:400px;overflow:hidden; background-size: cover;">
      <a href="#/post/{{posts[6].id}}"></a>
      <div class="overlay"></div>
      <div class="info">
       <div class="row">
          <h3>{{ posts[6].title }}</h3>  
        </div>
       <div class="row">
         <img ng-src="{{posts[6].author_avatar}}" alt="">
       </div>
        <div class="row">
          <i class="fa fa-heart fa-1x"> {{ posts[6].favorites_quantity }} </i>
          <i class="fa fa-comments fa-1x"> {{ 2 }} </i>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 post-image" style="background-image:url({{ posts[7].assets[0].file_url }}); height:400px;overflow:hidden; background-size: cover;">
      <a href="#/post/{{posts[7].id}}"></a>
      <div class="overlay"></div>
      <div class="info">
       <div class="row">
          <h3>{{ posts[7].title }}</h3>  
        </div>
       <div class="row">
         <img ng-src="{{posts[7].author_avatar}}" alt="">
       </div>
        <div class="row">
          <i class="fa fa-heart fa-1x"> {{ posts[7].favorites_quantity }} </i>
          <i class="fa fa-comments fa-1x"> {{ 2 }} </i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 post-image" style="background-image:url({{ posts[8].assets[0].file_url }}); height:400px;overflow:hidden; background-size: cover;">
     <a href="#/post/{{posts[8].id}}"></a>
      <div class="overlay"></div>
      <div class="info">
       <div class="row">
          <h3>{{ posts[8].title }}</h3>  
        </div>
       <div class="row">
         <img ng-src="{{posts[8].author_avatar}}" alt="">
       </div>
        <div class="row">
          <i class="fa fa-heart fa-1x"> {{ posts[8].favorites_quantity }} </i>
          <i class="fa fa-comments fa-1x"> {{ 2 }} </i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 post-image" style="background-image:url({{ posts[9].assets[0].file_url }}); height:400px;overflow:hidden; background-size: cover;">
      <a href="#/post/{{posts[9].id}}"></a>
      <div class="overlay"></div>
      <div class="info">
       <div class="row">
          <h3>{{ posts[9].title }}</h3>  
        </div>
       <div class="row">
         <img ng-src="{{posts[9].author_avatar}}" alt="">
       </div>
        <div class="row">
          <i class="fa fa-heart fa-1x"> {{ posts[9].favorites_quantity }} </i>
          <i class="fa fa-comments fa-1x"> {{ 2 }} </i>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
  	<div class="col-lg-12">
  		<div class="text-center hometitle" style="margin-top:70px;">
  			<h3>Nuestra comunidad</h3>
  			<p class="lead">Conoce quienes son nuestros usuarios destacados.</p>
  		</div>
  	</div>
  </div>


  <div class="row">
  	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 post-image" ng-repeat="u in topusers" style="background-image:url({{ u.file_url+'?width=250' }}); height:300px;overflow:hidden; background-size: cover;">
  	 <a href="#/user/{{u.id}}"></a>
     <div class="overlay"></div>
      <div class="info">
       <div class="row">
          <h3>{{ u.first_name + ' ' + u.last_name }}</h3>  
        </div>
        <div class="row">
          <i class="fa fa-heart fa-1x"> {{ u.followers_quantity }} </i>
        </div>
      
      </div>
  	</div>

  	<!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
  		<img src="http://lorempixel.com/400/400/people/2" alt="" class="img-responsive">
  	</div>
  	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
  		<img src="http://lorempixel.com/400/400/people/3" alt="" class="img-responsive">
  	</div>
  	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
  		<img src="http://lorempixel.com/400/400/people/4" alt="" class="img-responsive">
  	</div> -->

  </div>
</div>

<br><br>
<div class="container-fluid">
     <div class="row">
        <div class="col-lg-12 mapcontainer">
            <map id="map-view" scrollwheel="false" center="Montevideo, Uruguay" zoom="12" style="height:600px; margin-top:50px;">
                <!-- <marker ng-repeat="p in posts" position="{{[p.latitude,p.longitude]}}" on-click="showInfoWindow(event, 'marker-info')"></marker>
                  <info-window id="marker-info">
                    <h4>Hi, my lat/lng is [[this.getPosition()]]</h4>
                  </info-window> -->
                </map>
        </div>
    </div>
</div>

<script type="text/javascript-lazy">
  $(document).ready(function() {
         $('.carousel-example-generic').carousel({
             interval: 2000
         })
    }); 

</script>

<!-- <div ng-repeat="post in posts">
  {{ $index + '-' + post.title }}
</div> -->

{{posts}}

<!-- {{topusers}} -->