<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>AngularJS Tutorials</title>
  <!-- <link rel="stylesheet" href="vendor/foundation/foundation.min.css"> -->
</head>

<body>

  <div ng-app="myApp">
    <form ng-controller="NewPostController">
                <ul>
                  Errores
                    <li class="err" ng-repeat="error in errors"> {{ error}} </li>
                </ul>
                <ul>
                  Mensajes
                    <li class="info" ng-repeat="msg in msgs"> {{ msg}} </li>
                </ul>
                <h2>Form para subir nuevo post</h2>
                
                    <input type="text" ng-model="title" placeholder="Titulo"> 
                    <input type="text" ng-model="author" placeholder="Autor"> 
                    <input type="text" ng-model="description" placeholder="Descripcion">
                    <input type="text" ng-model="image" placeholder="Imagen"> 
                    <input type="text" ng-model="date" placeholder="Fecha"> 
                    <input type="text" ng-model="location" placeholder="Locacion">
                    <input type="text" ng-model="category" placeholder="Categoria">   
                
                
                <button ng-click='Create();'>Crear</button>



                <hr><hr><hr>

              
          {{ title }}

          {{ author }}

            </form>



  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
  <script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>