<h1>{{ message }}</h1>

<h3> {{ msgs }} </h3>
<h3> {{ errors }} </h3>
<br><br><br>

<form action="">
	
	<input type="text" ng-model="title" placeholder="Titulo"> 
    <input type="text" ng-model="author" placeholder="Autor"> 
    <input type="text" ng-model="description" placeholder="Descripcion">
    <input type="text" ng-model="image" placeholder="Imagen"> 
    <input type="text" ng-model="date" placeholder="Fecha"> 
    <input type="text" ng-model="location" placeholder="Locacion">
    <input type="text" ng-model="category" placeholder="Categoria"> 

	<button ng-click='Create();'>Crear</button>
</form>


