<div ng-include="'common/secondary.tpl.html'"></div>

<div class="container firstwrap">
	<div class="row">
		<div class="col-lg-12 ">
			
			<h2>Editar perfil</h2>
			<hr>
			<!-- {{ userid }} -->
				
			<div class="panel">
				    	<div class="panel-header">
				        	<h4> Editar perfil</h4> 	
				        </div>
				        <div class="panel-body">
				        	<form action="">
								<input type="text" 	ng-model="username" >
								<input type="text" 	ng-model="first_name">
								<input type="text" 	ng-model="last_name">
								<input type="email" ng-model="email">
								

								<button class="btn-primary" ng-click="editarPerfil()">
									Guardar
								</button>
							</form>
				        </div>


		     		</div>

			

		</div>	
	</div>


</div>
