<header class="intro-section" style="background-image: url('../assets/img/tortuga.jpg'); margin-bottom:20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading2">
                        <!-- <h1></h1> -->
                        <!-- <hr class="small"> -->
                        <!-- <span class="subheading">Conocé cuales son los lugares favoritos de la comunidad.</span> -->
                    </div>
                </div>
            </div>
        </div>
</header>


<div class="container" style="margin-top: 20px; margin-bottom:100px;">
	<div class="row">
		<div class="col-lg-12">
			<h2 style="margin-top:40px;">¿No recuerdas tu contraseña? No te preocupes</h2>
			<hr>
			<p>Ingresa tu mail para poder configurar contraseña. Recibirás de forma inmediata en tu casilla un correo con el link para reestablecer la misma.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4" style="padding-right:2px;">
	      <input class="form-control" placeholder="Ingresa aqui tu mail" ng-model="text">
	    </div>
	    <div class="col-lg-4" style="padding-left:2px;">
	      <btn class="btn btn-primary" ng-click="">Recuperar</btn>
	    </div>
	</div>
</div>